body, html {
	font-family: Verdana;
	margin:0px;
	padding:0px;
	height: 100%;
	width: 100%
}

#container {
	margin: auto;
	width: 95%;
	height: 95%;
	position: relative
}

#scoreArea {
	width: 95%;
	height: 5%;
	position: absolute
}

#scorePlayer {
	position: absolute;
	left: 35%;
	font-size: 2em
}

#scoreComputer {
	position: absolute;
	left: 65%;
	font-size: 2em
}

#score {
	position: absolute;
	left: 50%;
	font-size: 2em
}

#canvas {
	position: absolute;
	top: 10%;
	z-index: 1
}


#up {
	position: absolute;
	top: 10%;
	width: 100%;
	height: 40%;
	z-index: 2
}

#down {
	position: absolute;
	top: 60%;
	width: 100%;
	height: 40%;
	z-index: 2
}



