/*div {
	border: solid 1px #000
}*/

body, html {
	font-family: Verdana;
	margin:0px;
	padding:0px;
	height: 100%;
	width: 100%;
}

#container {
	margin: auto;
	width: 95%;
	height: 95%;
	position: relative
}

#scoreArea {
	position: relative;
	top: 0;
	width: 100%;
	height: 10%;
	margin: auto
}

#scorePlayer {
	position: absolute;
	left: 40%;
	top: 0;
	font-size: 8vh
}

#scoreComputer {
	position: absolute;
	right: 40%;
	top: 0;
	font-size: 8vh
}

#score {
	position: absolute;
	left: 50%;
	right: 50%;
	font-size: 8vh
}

#canvas {
	display: block;
	position: relative;
	margin: auto;
	z-index: 1
}





