body, html {
	font-family: Verdana;
	margin:0px;
	padding:0px;
	height: 100%;
	width: 100%
}

#container {
	margin: auto;
	width: 95%;
	height: 95%;
	position: relative
}

#scorePlayer {
	position: absolute;
	left: 40%;
	top: 0;
	font-size: 2em
}

#scoreComputer {
	position: absolute;
	right: 40%;
	top: 0;
	font-size: 2em
}

#score {
	position: absolute;
	left: 50%;
	right: 50%;
	font-size: 2em
}

#canvas {
	display: block;
	position: relative;
	top: 10%;
	margin: auto;
	z-index: 1
}





